<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMotion</title>
    <link rel="stylesheet" href="../style.css">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}"/>
</head>
<body>
     
    <header class="head">
        <br>
        <label for="">iMotion</label>
    </header>
   
    <br><hr>
<br>
<br>
    <form action="/" method="POST" >
    <input type="text" name="emo" id="" placeholder="Emotional Message">
    <br>
    <br>

    <input type="submit" value="Check" class="button">

</form> 
<br>
<br>
<table>
   
    <tbody>
        <tr>
            <td> <b>Message</b> </td>
            <td>  {{message}}</td>
            
        </tr>
        <tr>
            <td> <B>Emotion</B> </td>
            <td>{{emotion}}</td>
            
        </tr>
        <tr>
            <td> <b>ML confidence</b> </td>
            <td>{{confidence}}</td>
            
        </tr>
    </tbody>
</table>
   

</body>
</html>